.table {    
    width: 100%;
    flex: 1;
    justify-content: center;    
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    overflow-wrap: break-word;    
}

td {
    border: rgba(128, 128, 128, 0.527) solid 1px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
}

th {
    text-align: left;
    padding-left: 1vh;
    padding-right:1vh;
    color: #CCC5B9;
    padding-bottom: 0.5vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr:nth-child(even) {
    background-color: #25242256;
}

.pagesCol {
    width: 68px;
    padding-left: 0.5vh;
    padding-right:0.5vh;
}

.readCol, .delCol {
    width: 54px;
    padding-left: 0.5vh;
    padding-right:0.5vh;
}