body {
    background-color:#161614;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    height:min-content;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFCF2;
    
}

.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 1vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #CCC5B9;
}

.main {
    width: 80%;
    max-width: 800px;
    display: flex;  
    background-color: #252422;
    padding: 2vh;
    flex-direction: column;
    min-height: 91vh;
    border-radius: 5vh;
    margin-top: 2vh;
    height:min-content;
}

h1 {
    margin: 0;
}

.table {    
    width: 100%;
    flex: 1;
    justify-content: center;    
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    overflow-wrap: break-word;    
}

td {
    border: rgba(128, 128, 128, 0.527) solid 1px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
}

th {
    text-align: left;
    padding-left: 1vh;
    padding-right:1vh;
    color: #CCC5B9;
    padding-bottom: 0.5vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr:nth-child(even) {
    background-color: #25242256;
}

.pagesCol {
    width: 68px;
    padding-left: 0.5vh;
    padding-right:0.5vh;
}

.readCol, .delCol {
    width: 54px;
    padding-left: 0.5vh;
    padding-right:0.5vh;
}

.showButtonDiv {
    display: flex;
    justify-content: center;
    padding: 1vh;
}

.newBookBtn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #EB5E28;
    color: #FFFCF2;
    border: 0;
    font-size: xx-large;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.newBookBtn:hover {
    transform: scale(1.2) rotate(90deg);
}

.newBookBtn:active {
    transform: scale(1) rotate(180deg);
}

#popupForm {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 2px solid #EB5E28;
    border-radius: 3vh;
    z-index: 9;
    background-color: #CCC5B9;
    padding: 3vh;
    color: #403D39;
}

#entryForm {
    display: flex;
    flex-direction: column;
}

.delBtn {
    background-color:transparent;
    border: 2px solid #EB5E28;
    border-radius: 100%;
    cursor: pointer;
    color: #EB5E28;
    font-size: larger;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.formButton {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 90%;
    background-color:#EB5E28;
    color:#FFFCF2 ;
    margin: 0.5vh;
    align-self: center;
    border-radius: 3vh;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: 0;
    transition: transform 100ms ease-in;
}

.formButton:hover {
    transform: scale(1.05);
}

.formButton:active {
    transform: scale(0.9);
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"], input[type="number"]{
    border:none;
    outline:none;
    height:34px;  
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
    margin: 1vh;
  }

  
.checkboxCont {
    display: flex;    
}

.spacer {
    height: 2vh;
}

.buttonCont {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
    margin-bottom: 2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="checkbox"] {
    cursor: pointer;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color:#252422;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
     color: currentColor;
     width: 1.5em;
     height: 1.5em;
     border: 0.15em solid #CCC5B9;
     border-radius: 0.15em;
     transform: translateY(-0.075em);
     display: grid;
     place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color:#EB5E28;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .footer{
      height: 3vh;
      display: flex;
    
      text-align: center;
      color: #CCC5B9;
      align-items: center;
  }
