body {
    background-color: #252422;
    display: flex;
    margin: 0;
    min-height: 100vh;

    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 80%;
    max-width: 800px;
    display: flex;  

    background-color: #403D39;
    padding: 2vh;
    color: white;
    flex-direction: column;
}

.table {
    
    width: 100%;
    flex: 1;
    justify-content: center;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: grey solid 1px;
}

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #252422;
}

#popupForm {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #EB5E28;
    z-index: 9;
    background-color: #252422;
    padding: 3vh;
}

h2 {
    margin: 0;
    margin-bottom: 1vh;
}
input {
    margin: 1vh;
}

